{% load static %}
<!-- Start About area -->
<section id="about">
  <div class="container">

    <header class="section-header">
      <div class="row">
        <div class="col-md-4 pt-1 col-sm-12">
          <h3>Quem somos</h3>
          <p>{{ config.sobre }}</p>
        </div>
        <div class="col-md-4 col-sm-2">
          <img class="img-fluid" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" alt="" src="{{config.imagem_fundadora.url }}">
        </div>
        <div class="col-md-4 pt-1  col-sm-2">
          <h3 class="text-center">Lidiane Drum</h3>
          <p class="text-center">{{ config.sobre_fundadora }}</p>
        </div>
      </div>
    </header>
</div>


<div class="container mt-5">

  <header class="section-header">

    <h3>Certificações</h3>
    <div class="d-flex justify-content-center">
    {% for item in certificates %}
    
      <div class="mr-3 text-center">
        <div class="img">
          <img src="{{ item.imagem.url }}" alt="" class="img-fluid" style="max-height: 100px;">
        </div>
        <strong class="title">{{ item.nome }}</strong>
        <p>
          {{ item.text }}
        </p>
      </div>
    {% endfor %}
  </div>

  </header>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12" id="video-institucional">
      {{ config.video_institucional | safe }}
    </div>
  </div>
  
</div>

</section><!-- End About Us Section -->
