{% load static %}
<!-- Start About area -->
<section id="about">
  <div class="container" >

    <header class="section-header">
      <div class="row">
        <div class="col-md-8" data-aos="fade-right">
          <h3>Quem somos</h3>
          <p>{{ config.0.sobre }}</p>

          <hr />

          <h3 class="text-center">Lidiane Drum</h3>
          <p class="text-center">{{ config.0.sobre_fundadora }}</p>
        </div>
        <div class="col-md-4" data-aos="fade-left">
          <img class="img-fluid" alt="" src="{% static 'img/LAZA0009-removebg.png' %}">
        </div>
      </div>
    </header>  
</div>
</section><!-- End About Us Section -->
