{% load static %}

 <!-- ======= Intro Section ======= -->
 <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">
          
            {% for item in banner%}
                <div class="carousel-item {% if forloop.first %}active{% endif %}" style="background-image: url('{{ item.imagem.url }}')">
                    <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">{{ item.titulo }}</h2>
                        <p class="animate__animated animate__fadeInUp">{{ item.descricao }}</p>
                    </div>
                    </div>
                </div>
            {% endfor %}

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- End Intro Section -->
