{% load static %}
<!-- Start Testimonials -->
<section id="testimonials" class="section-bg">
  <div class="container" data-aos="fade-up">

    <header class="section-header">
      <h3>Depoimentos</h3>
    </header>

    <div class="owl-carousel testimonials-carousel">

      {% for depoimento in depoiments_list%}
      <div class="testimonial-item">
        <!-- <img src="{{ depoimento.image.url }}" class="testimonial-img" alt=""> -->
        <h3>{{ depoimento.nome }}</h3>
        <h4>{{ depoimento.funcao|default:"" }}</h4>
        <p>
          <img src="{% static 'img/quote-sign-left.png' %}" class="quote-sign-left" alt="">
          {{ depoimento.texto }}
          <img src="{% static 'img/quote-sign-right.png' %}" class="quote-sign-right" alt="">
        </p>
      </div>
      {% endfor %}

    </div>

  </div>
</section>

  <!-- End Testimonials -->