{% load static %}
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-3 col-md-6 footer-info">
            <img src="{% static 'img/logo_original.png' %}" alt="">
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><i class="ion-ios-arrow-right"></i> <a href="#">Home</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#about">Sobre</a></li>
              <li><i class="ion-ios-arrow-right"></i> <a href="#services">Serviços</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contato</h4>
            <p>
              <strong>Telefone: </strong>({{ config.ddd }}) {{ config.phone_com | default_if_none:'' }}<br>
              <strong>Email: </strong>{{ config.email | default_if_none:'' }}<br>
              {{ config.rua|default_if_none:"" }}<br>
              {{ config.cidade|default_if_none:"" }}<br>
              {{ config.pais|default_if_none:"" }}<br>
            </p>

            <div class="social-links">
              {% if config.facebook %}<a href="{{ conf.facebook }}" class="facebook"><i class="fab fa-facebook-f"></i></a>{% endif %}
              {% if config.instagram %}<a href="{{ conf.instagram }}" class="instagram"><i class="fab fa-instagram"></i></a>{% endif %}
              {% if config.linkedin %}<a href="{{ conf.linkedin }}" class="linkedin"><i class="fab fa-linkedin-in"></i></a>{% endif %}
              {% if config.youtube %}<a href="{{ conf.youtube }}" class="linkedin"><i class="fab fa-linkedin-in"></i></a>{% endif %}
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Desenvolvido por <a href="#">Eliane Faveron</a>
      </div>
    </div>
  </footer><!-- End Footer -->