{% load static %}

<section id="services">
  <div class="container" data-aos="fade-up">

    <header class="section-header wow fadeInUp">
      <h3>Serviços</h3>
     
    </header>

    <div class="row">
      {% for service in services_list %}

      <div id="card-services" class="card mb-3 col-md-4 col-sm-12" data-aos="fade-up" data-aos-delay="100">
        <div class="row no-gutters">
            <div class="card-body">
                <h4 class="title"><a href="">{{ service.nome }}</a></h4>
                <p class="description">{{ service.metodologia }}</p>
                <ul class="services_list">
                  {% for item in service.list_service.all %}
                    <li>{{ item.descricao }} </li>
                  {% endfor %}
                  </ul>
            </div>
        </div>
      </div>

        
      {% endfor %}
      
    </div>

  </div>
</section><!-- End Services Section -->

