{% load static %}

<section id="services">
  <div class="container" data-aos="fade-up">

    <header class="section-header wow fadeInUp">
      <h3>Serviços</h3>
      <p>Laudem latine persequeris id sed, ex fabulas delectus quo. No vel partiendo abhorreant vituperatoribus, ad pro quaestio laboramus. Ei ubique vivendum pro. At ius nisl accusam lorenta zanos paradigno tridexa panatarel.</p>
    </header>

    <div class="row">
      {% for service in services_list %}
      <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
        <div class="icon"><i class="ion-ios-paper-outline"></i></div>
        <h4 class="title"><a href="">{{ service.nome }}</a></h4>
        <p class="description">{{ service.metodologia }}</p>
      </div>
      {% endfor %}
      
    </div>

  </div>
</section><!-- End Services Section -->

