{% load static %}
{% if videos_list %}
<section id="videos" class="section-bg">
    <div class="container" data-aos="fade-up">

    <header class="section-header">
        <h3 class="section-title">Youtube</h3>
    </header>

    <div class="d-flex justify-content-center">
        
      {% for item in videos_list %}
      <div class="portfolio-item mr-4">
          <strong>{{ item.descricao }}</strong>
          <hr />
          {% if item.iframe %}
              {{item.iframe | safe }}
          {% endif %}
          {% if item.file %}
            <video width='600' controls>
              <source src='{{ item.file.url }}' type='video/mp4'>
              File not found.
            </video>
          {% endif %}
      </div>
      {% endfor %}
      
    </div>

    <div class="col-lg-12 col-md-12 text-center">
      <a href="{% url 'videos' %}" class="link-secondary">Ver mais videos</a>
    </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endif %}