{% load static %}
<!-- ======= Our Clients Section ======= -->
<section id="clients">
    <div class="container" data-aos="zoom-in">

      <header class="section-header">
        <h3>Valores</h3>
      </header>

      <div class="owl-carousel clients-carousel">
        <div class="item text-center">
            <i class="fas fa-balance-scale"></i>
            <p>Ética Profissional</p>    
        </div>
        <div class="item text-center">
            <i class="fas fa-share-alt"></i>
            <p>Conexão</p>    
        </div>
        <div class="item text-center">
            <i class="fas fa-child"></i>
            <p>Energia</p>    
        </div>
        <div class="item text-center">
            <i class="fas fa-hand-holding-heart"></i>
            <p>Comprometimento</p>    
        </div>
        <div class="item text-center">
            <i class="fas fa-thumbs-up"></i>
            <p>Lealdade</p>    
        </div>
        <div class="item text-center">
          <i class="fas fa-hand-holding-heart"></i>
            <p>Inovação</p>    
        </div>
      </div>

    </div>
  </section><!-- End Our Clients Section -->
