{% load static %}
<!-- Start About area -->
<div id="about" class="about-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline text-center">
            <h2>Sobre</h2>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- single-well start-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-left">
            <div class="single-well">
              <a href="#">
			    <img src="{% static 'img/about/1.jpg' %}" alt="">
			    </a>
            </div>
          </div>
        </div>
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#" class="layer-1-1 wow fadeInRight" data-wow-duration="3s" data-wow-delay=".3s">
                <h4 class="sec-head">{{ config.0.nome_empresa }}</h4>
              </a>
              <p class="layer-1-2 wow fadeInLeft" data-wow-duration="3s" data-wow-delay=".3s">
                {{ config.0.sobre }}
              </p>
              
            </div>
          </div>
        </div>
        <!-- End col-->
        <!-- single-well end-->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="well-middle">
            <div class="single-well">
              <a href="#" class="layer-1-1 wow fadeInRight" data-wow-duration="3s" data-wow-delay=".3s">
                <h4 class="sec-head">Valores</h4>
              </a>
              <p class="layer-1-2 wow fadeInLeft" data-wow-duration="3s" data-wow-delay=".2s">
                {{ config.0.valor }}
              </p>
              
            </div>
          </div>
        </div>
        <!-- End col-->
      </div>
    </div>
  </div>
  <!-- End About area -->
