{% load static %}
<!-- Start Service area -->
<div id="services" class="services-area area-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="section-headline services-head text-center">
            <h2>Serviços</h2>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="services-contents">
          <!-- Start Left services -->
          {% for service in services_list %}
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="about-move">
              <div class="services-details layer-1-1 wow fadeIn bounceIn" data-wow-duration="3s" data-wow-delay=".2s">
                <div class="single-services">
                  
                  <h4>{{ service.nome }}</h4>
                  <p>
                    {{ service.metodologia }}
                  </p>
                </div>
              </div>
              <!-- end about-details -->
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- End Service area -->
